<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/css/adminDisplayOrders.css" th:href="@{/css/adminDisplayOrders.css}" rel="stylesheet"/>

</head>
<body>


<div class="header">
  <div class="picture">
    <img src="/images/img.png" alt="Description of image" width="1500" height="300">
  </div>
</div>
<div class="display-orderList primary">
  <div class="display-orderList secondary">
    <h2 class="headerOne">Bestillinger</h2>


      <div>
          <form th:action="@{/admin}" method="post">
              <button class="buttonShape colorRed placement" type="submit">Admin menu</button>
          </form>
          <form  th:action="@{/displayOrders}" method="post">
              <input type="hidden" name="choice" th:value="-5">
              <button class="buttonShape colorRed placement" type="submit">←Tidligere viste ordre </button>
          </form>
      <table class="orderTable">
        <tr class="orderTable">
          <th class="orderTableDescription">E-mail_adresse</th>
          <th class="orderTableDescription">Ordrenummer</th>
          <th class="orderTableDescription">Subtotal</th>
          <th class="orderTableDescription">Dato</th>
        </tr>
        <tr>
          <td th:text="${taskOne['orderID']}"></td>
          <td th:text="${taskOne['currentOrderID']}"></td>
          <td th:text="${taskOne['currentTotalPrice']}"></td>
          <td th:text="${taskOne['currentDate']}"></td>

           <td>
          <form th:action="@{/displayOrderDetails}" method="post">
            <input type="hidden" name="orderID" th:value="${taskOne['orderID']}">
            <button class="buttonShape colorBlue" type="submit">Se ordren</button>
          </form>
           </td>
        </tr>
        <tr>
          <td th:text="${taskTwo['orderID']}"></td>
          <td th:text="${taskTwo['currentOrderID']}"></td>
          <td th:text="${taskTwo['currentTotalPrice']}"></td>
          <td th:text="${taskTwo['currentDate']}"></td>
<td>
          <form  th:action="@{/displayOrderDetails}" method="post">
            <input type="hidden" name="orderID" th:value="${taskTwo['orderID']}">
            <button class="buttonShape colorBlue" type="submit">Se ordren</button>
          </form>
</td>

        </tr>
        <tr>
          <td th:text="${taskThree['orderID']}"></td>
          <td th:text="${taskThree['currentOrderID']}"></td>
          <td th:text="${taskThree['currentTotalPrice']}"></td>
          <td th:text="${taskThree['currentDate']}"></td>
<td>
          <form th:action="@{/displayOrderDetails}" method="post">
            <input type="hidden" name="orderID" th:value="${taskThree['orderID']}">
            <button class= "buttonShape colorBlue" type="submit">Se ordren</button>
          </form>
</td>
        </tr>
        <tr>
          <td th:text="${taskFour['orderID']}"></td>
          <td th:text="${taskFour['currentOrderID']}"></td>
          <td th:text="${taskFour['currentTotalPrice']}"></td>
          <td th:text="${taskFour['currentDate']}"></td>
<td>
          <form th:action="@{/displayOrderDetails}" method="post">
            <input type="hidden" name="orderID" th:value="${taskFour['orderID']}">
            <button class= "buttonShape colorBlue" type="submit">Se ordren</button>
          </form>
</td>
        </tr>
        <tr>
          <td th:text="${taskFive['orderID']}"></td>
          <td th:text="${taskFive['currentOrderID']}"></td>
          <td th:text="${taskFive['currentTotalPrice']}"></td>
          <td th:text="${taskFive['currentDate']}"></td>
<td>
          <form th:action="@{/displayOrderDetails}" method="post">
            <input type="hidden" name="orderID" th:value="${taskFive['orderID']}">
            <button class= "buttonShape colorBlue" type="submit">Se ordren</button>
          </form>
</td>
        </tr>
      </table>

        <form th:action="@{/displayOrders}" method="post">
          <input type="hidden" name="choice" th:value="5">
          <button class="buttonShape colorGreen" type="submit">Flere ordre FREM-></button>
        </form>

      <div th:if="${taskSix}">
        <table>
          <tr>
            <th class="orderTableDescription">E-mail_adresse</th>
            <th class="orderTableDescription">Topping</th>
            <th class="orderTableDescription">Bund</th>
            <th class="orderTableDescription">Antal</th>
          </tr>
          <tr>
            <td th:text="${taskSix['orderID']}"></td>
            <td th:text="${taskSix['toppingName']}"></td>
            <td th:text="${taskSix['bottomName']}"></td>
            <td th:text="${taskSix['quantity']}"></td>
              <td colspan="4">
                  <label for="checkbox" class="checkbox-label">
                      <input type="checkbox" id="checkbox" name="checkbox" class="styled-checkbox">
                      <span class="checkbox-custom"></span>Udført
                  </label>
              </td>
          </tr>

        </table>
      </div>

      <div><p th:text="${message}"></p></div>

    </div>
  </div>
</div>

</body>
</html>