<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
    <title>Adminpage</title>
</head>
<body>

<div class = "g-frontpage">

    <div class ="header">
        <div class = "picture">
            <img src="/public/images/img.png" alt="Description of image" width="1500" height="300">

        </div>
    </div>

    <div class="header-box"></div>

<div class="container">
        <div class ="container-menu">

            <div class="box-menu">
                <h1>Menu</h1>
                <div class="input-fields">
                    <a href="#">Ordrer Liste</a>
                    <a href="index.html">Forside</a>
                </div>
            </div>

        </div>
</div>





</div>



</body>

</html>