<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/frontpage.css" th:href="@{/css/frontpage.css}" rel="stylesheet"/>
    <title>Cupcakes</title>
</head>
<body>

<div class = "g-frontpage">

    <div class ="header">
        <div class = "picture">
            <img src="/public/images/img.png" alt="Description of image" width="1500" height="300">

        </div>
    </div>

    <div class = "nav-bar">
        <div class ="nav-left">
            <div class="marquee-wrapper">
                <div class="marquee">
                    <span>🧁Velkommen til Olsker Cupcakes -🧁- Sammensæt dine egne lækkerier udfra vores varierende smage -🧁-  <span class="nyheder">Nye smage:</span>🍋Lemon -- 🍓Strawberry -- 🍊Orange -- 💙🧀Blue Cheese --</span>
                    <span>🧁Velkommen til Olsker Cupcakes -🧁- Sammensæt dine egne lækkerier udfra vores varierende smage -🧁-  <span class="nyheder">Nye smage:</span>🍋Lemon -- 🍓Strawberry -- 🍊Orange -- 💙🧀Blue Cheese --</span>
                </div>
            </div>
        </div>

        <div class ="nav-right">
            <a href="/login">
                <button type="button" class="login-button">Login</button>
            </a>

        </div>

    </div>

    <div class = "welcome-message">
        <div class="intro-section">
            <img src="/public/images/cupcakeFrontpage.png" alt="Økologiske cupcakes i bornholmsk natur" class="intro-image">
            <div class="intro-text">
                <h2>Olsker Cupcakes - Om os:</h2>
                <p>
                    Hos Olsker Cupcakes tror vi på, at de bedste smagsoplevelser starter med ærlige, økologiske råvarer – dyrket, høstet og anvendt med kærlighed til både naturen og håndværket.
                    Vores cupcakes laves med smør fra lokale mejerier, frugt og bær fra bornholmske marker og mel, som er malet på øens egne møller.
                    Her får du ikke bare en sød snack – du får en historie i hver bid.
                </p>
                <p>
                    Vores mission er at gøre cupcake-kunsten bæredygtig, lokal og uimodståelig – uden at gå på kompromis med hverken smag eller sjæl.
                </p>
            </div>
        </div>
    </div>


        </form>
    </div>

</div>



</body>

</html>