<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Cupcakes</title>
</head>
<body>

<div class = "g-frontpage">

    <div class ="header">
        <div class = "picture">
            <img src="/images/img.png" alt="Description of image" width="1500" height="300">

        </div>
    </div>

    <div class = "nav-bar">
        <div class ="nav-left">
            <a href="#">Ordrer</a>
            <a href="#">Kunder</a>
            </div>

        <div class ="nav-right">
           <span class="email" th:if="${user != null}" th:text="${user.email}">brugernavn@email.com</span>
            <span class="balance" th:if="${user != null}" th:text="'Saldo: ' + ${session.user.balance} + ' kr'">Saldo: 200 kr</span>

            <a href="/basket">
            <img src="/images/lillabasket.png" alt="Kurv" class="cart-icon"  title="Gå til indkøbskurv">
            </a>
        </div>

    </div>

        <div class = "input-fields">
            <form action = "/" method = "post">
                <div class = "select-bottom">
                <label for="select-bottom">Vælg Bund</label>
                <select id="select-bottom" name="bottom_id" required>
                    <option value="" disabled selected>Vælg Bund</option>
                    <option th:each="b : ${bottoms}"
                            th:value="${b.id}"
                            th:text="${b.name + ' - ' + b.price + ' kr'}">
                    </option>
                </select>
                </div>

                <div class = "select-topping">
                    <label for="select-topping">Vælg Topping</label>
                    <select id="select-topping" name="topping_id" required>
                        <option value="" disabled selected>Vælg Topping</option>
                        <option th:each="t : ${toppings}"
                                th:value="${t.id}"
                                th:text="${t.name + ' - ' + t.price + ' kr'}">
                        </option>
                    </select>
                </div>


                <div class = "quantity">
                    <label for="quantity">Vælg Stk.</label>
                    <input type = "number" id="quantity" name="quantity" required><br>
                </div>

                    <button type = "submit">Læg i kurv</button>


            </form>
        </div>

</div>



</body>

</html>